
.custom-select {
  position: relative;
  width: 220px;
  height: 34px;
  background: #fff;
  border-radius: 4px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.custom-select a {
  display: inline-block;
  width: 200px;
  height: 20px;
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.custom-select a span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.custom-select select {
  display: none !important;
}
.custom-select > div {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 1px 0 0 -1px;
  width: 100%;
  border: 1px solid #888;
  border-top: 0;
  background: #FFFFFF;
  z-index: 10;
  overflow: hidden;
}
.custom-select input {
  width: 200px;
  border: 1px solid #888;
  margin: 5px 5px 0;
  padding: 5px;
  font-size: 14px;
}
.custom-select > div > div {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  margin: 5px;
  max-height: 120px;
}
.custom-select div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.custom-select div ul li {
  display: none;
  padding: 5px;
}
.custom-select div ul li.active {
  display: block;
  cursor: pointer;
}
.custom-select div ul li:hover {
  background: #66bbff;
  color: #fff;
}
.custom-select div ul li.option-hover {
  background: #3399ff;
  color: #fff;
}
.custom-select div ul li.option-disabled {
  color: #999;
}
.custom-select div ul li.option-disabled:hover {
  background: #ff9999;
  color: #fff;
}
.custom-select div ul li.option-hover.option-disabled {
  background: #ff6666;
  color: #fff;
}
.custom-select div ul li.no-results {
  display: none;
  background: #f2f2f2;
  color: #000;
}

/* Custom Select - Open
----------------------------------*/
.custom-select-open {
  border-bottom: 1px solid #eee;
}
.custom-select-open div {
  display: block;
}

 /*Hide Input Box
----------------------------------*/
/*.custom-select input.custom-select-hidden-input {
  position: absolute !important;
  top: 0 !important;
  left: -1000px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  background: transparent !important;
  z-index: -1 !important;
}*/

/*Mobile Override
----------------------------------*/
/*.custom-select-mobile select {
  display: inline !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/