.clickable:hover{
    cursor:pointer;
    color:#ff6600;
}
.cursor{
    cursor:default;
}
.hilighted{
    
}
.block-one{
    background-color:#ccccff;
}

.block-two{
    background-color:#99ff99;
}
.modal-error{
    background-color:#ffffcc;
    color:#ff3333;
}